<h1>Legislator Lookup</h1>

<form>
  <div class="form-group">
    <label for="zip">Zip</label>
    {{input value=zip id="zip"}}
  </div>

  <button class="btn btn-primary" {{action 'zipLookup'}}>Submit</button>
</form>
<br />
<div class ="committeeLookup">
  <button class="btn btn-primary" {{action 'committeesLookup'}}>List of Committees</button>
</div>

<div class ="billsLookup">
  <button class="btn btn-success" {{action 'billsLookup'}}>List of Bills</button>
</div>  
