{{#if (gt subcommittees.length 0)}}
{{#each subcommittees as |committee|}}

  <li> <p>{{committee.name}} - {{committee.chamber}}</p></li>
  {{log committee.committee_id}}

  {{/each}}

{{else}}

    <p>sorry, no subcommittees found</p>


{{/if }}
