<div class='jumbotron'>
  <a href="/"><h1>An Enraged Citizenry</h1></a><br><br>
  <h3>An <span class="strike">enlightened citizenry</span>enraged citizenry is <span class="strike">indispensable</span> disposable for the proper functioning of a republic. Self-government is not possible<span class="strike"> unless the citizens are educated sufficiently to enable them to exercise oversight</span>." -Thomas Jefferson</h3><br>
  {{lookup-form toLookUp="toLookUp"}}
</div>

<body>
  {{outlet}}
</body>
<footer>
</footer>
